*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.public-menu {
min-height:100vh;

    .main {
        padding: 9% 0;
        background: #D1913C;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, rgba(#FFD194, 0.3), rgba(#D1913C, 0.3));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, rgba(#FFD194, 0.3), rgba(#D1913C, 0.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .restaurant-info {
        background-color: $bg-secondary-color;
        width: 40%;
        padding: 1%;
        border-radius: $border-radius-windows-large;
        opacity: 0.9;
        border: 1px solid $primary-color;
        position: absolute;
        top: 50%;
    }

    .header {
        padding-left: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
        position: relative;

        ul {
            list-style: none;
            li {
                display: flex;
                align-items: center;
                padding: 0.5%;

                .info {
                    font-size: $medium-text;
                }

                .info-icon {
                    margin-right: 20px;
                    width: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        font-size: 30px;
                    }
                }

                .info-detail {
                    font-size: $medium-text;
                }
            }
        }
        h1 {
            color: $primary-color;
            font-size: 4em;
        }

        p {
            color: white;
            font-size: 2.5em;
            margin-left: 100px;
        }


    }

    .dishes-list {
        width: 60%;
        margin-left: 50px;

        .dish {
            border-radius: 50px;
            box-shadow: 0 0 10px #000;
            margin: 50px 0;
            display: flex;
            justify-content: space-between;

            &-left {
                width: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50px 0 0 50px;
            }

            &-right {
                width: 50%;
                padding: 5%;
                border-radius: 0 50px 50px 0;
                background-color: $secondary-color;
                font-size: $medium-text;
            }

            img {
            width: 200px;
            }

            button {
                background-color: rgba(#ffc107, 0.8);

                &:hover {
                    background-color: #ffc107;
                }
            }
        }
    }

    .wrapper {
        position: absolute;
        top: 78%;
        right: 3%;
        display: block;

        @media (max-width: 576px) {
            display: none;
        }

        .cart {
            min-height: 500px;
            width: 450px;
            border-radius: 50px;
            box-shadow: 0 0 10px #000;
            position: relative;
            background-color: white;

            .flex-wrapper {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-bottom: 5%;
            }

            .list-container{
             padding-top:20px;
             height:300px;
             overflow-y: auto;
            }

            .header-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 15%;
                margin-bottom: 5%;

                .header-cart {
                    font-size: 30px;
                }
            }

            &-product {
                display: inline-block;
                width: 90%;
                height: 100px;

                &-stats {
                    float: left;
                    height: 100%;
                    width: 49%;
                    box-shadow: 0 0 8px #000;
                    border-radius: 10px 0 0 10px;

                    &-content {
                        margin-top: 5%;
                        margin-left: 10%;
                        font-size: 16px;
                    }
                }
                &-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    float: right;
                    height: 100%;
                    width: 49%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 0 10px 10px 0;
                    box-shadow: 0 0 8px #000;
                }
            }

            .cart-buttons {
                display: flex;
                justify-content: space-evenly;
                position: absolute;
                bottom: -5%;
                left: 5%;
                width: 30%;
                height: 30%;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 33%;
                    font-size: 30px;
                    border-radius: 5px;
                    background-color: #ffc107;
                }

                .changeQuantity {
                    cursor: pointer;
                    background-color: rgba(#ffc107, 0.8);

                    &:hover{
                        background-color: #ffc107;
                        transition: 0.3s;
                    }
                }
            }

            &-bottom {
                min-height: 100px;
                width: 100%;

                svg {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .total {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 10%;
                    padding: 20px 30px;
                }

                #empty {
                    text-align: center;
                }

                .button-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 70%;
                    padding: 20px;

                    button {
                        background-color: rgba(#ffc107, 0.8);

                        &:hover {
                            background-color: #ffc107;
                        }

                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }

    }
}

