//LO STILE
.crud-navbar{
background-color:$bg-footer-color;
font-size:22px;
.my-btn-create{
    font-size:22px;
}
.crud-search-section{
    @include flex;
    align-items: center;
    @media only screen and (max-width: 600px){
    flex-direction:column;
    align-items:start;
    }
    a{
     text-decoration:none;
     color:black;
    }
    button{
          padding:5px;
          margin:0 3px;
          border:none;
          border-radius:3px;

          @media (max-width: $desktop) {
            width: 150px;
            margin:2px 3px;
        }

        &:hover{
            background-color: rgba($bg-primary-color,0.9);
          }
      }
    input{
        border:none;
        border-radius: 3px;
        padding:5px 0 5px 5px;
    }
  .crud-btn-active{
      background-color:$bg-primary-color;
      }
  }
}
.crud-table{
    font-size:18px;
}

.my-btn-delete,.my-btn-edit,.my-btn-show{
    font-size:18px;
    i{
        padding-left:3px;
    }
}

.my-btn-delete{
    color:$bg-primary-color;
    background-color: $bg-footer-color;
    &:hover{
         color:$bg-primary-color;
    }
}



.crud-form{
    font-size:22px;
    .form-control{
        font-size:22px;
    }
    .form-buttons{
        input,a{
        font-size:22px;
    }
    }
}


.crud-show{
 .buttons{
     a{
         font-size:22px;
     }
 }
}
.modal{
    font-size:22px;
.modal-footer button{
    font-size:22px;
}
}
