footer {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: $bg-footer-color;

    .top {
        background-color: $bg-primary-color;
        font-size: $font-medium;
        div {
            .grid-row {
                div {
                    h6 {
                        color: $bg-footer-color;
                        font-weight: bold;
                        font-size: $font-medium;
                    }
                    a {
                        height: 14px !important;
                        width: 14.41px !important;
                        color: $bg-footer-color;
                        &:hover{
                            color: $bg-primary-color;
                        }
                    }
                    i{
                        cursor: pointer;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .links {
        color: white;

        div {
            div {
                font-size: $font-small;
                a {
                    text-decoration: none;
                    color: $secondary-color;
                }
                hr {
                    background-color: $secondary-color;
                }
                h6 {
                    color: $secondary-color;
                }

                .contact-details {
                    @include flex;

                    @media screen and (max-width: 762px) {
                        justify-content: center;
                    }
                }
            }
        }
    }
    div{
        color: #fff;
        // margin-bottom: 15px; // connettiti prova
    }
    .names {
        color: $secondary-color;
        margin-bottom: 15px;
        font-size: $font-small;
        ul{
            display: flex;
            padding: 0px 350px;
            justify-content: space-around;

            @media screen and (max-width: 762px) {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 0px;
            }
            li{
                display: inline-block;
                margin: 0px 15px;
                line-height: 1;
                @media screen and (max-width: 762px) {
                    line-height: 2;
                }

                a {
                    color: $bg-primary-color;
                }
            }
        }
    }
}
