footer {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: #1d1d1d;

    .top {
        background-color: $bg-primary-color;
        div {
            .grid-row {
                div {
                    h6 {
                        color: #1d1d1d;
                        font-weight: bold;
                    }
                    a {
                        color: #1d1d1d;
                    }
                }
            }
        }
    }

    .links {
        color: white;

        div {
            div {
                a {
                    text-decoration: none;
                    color: $secondary-color;
                }
                hr {
                    background-color: $secondary-color;
                }
                h6 {
                    color: $secondary-color;
                }

                .contact-details {
                    display: flex;

                    @media screen and (max-width: 762px) {
                        justify-content: center;
                    }
                }
            }
        }
    }

    div {
        color: $secondary-color;
        a {
            color: $bg-primary-color;
        }
    }
}
