// qui lavoreremo allo stile della landing page
// in sass
// magari nella vista metteremo un wrapper con id=landingpage
// e da li con le graffe racchiudiamo tutto lo stile dei div figli

// COMMONS & UTILITIES
* {box-sizing: border-box; margin: 0; padding: 0;}

#app {
    min-width: 360px;
    background-color: #D7EAF0;

    main {
        background-color: #D7EAF0;
        font-family: 'Teko', sans-serif;
    }
}

.active-category {
    // background-color: yellow !important;
    // color: darkgrey !important;
    // outline: 2px solid $bg-secondary-color;
    box-shadow: 0 0 7px 4px hsla(0, 0%, 66%, 0.5), 0 0 5px 5px $bg-secondary-color;
    border-radius: 50% !important; // era $border-radius-btn
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    // display: inline-block;
}


//STYLE
.landing-page {
    .section-title-container {
        @include flex;
        justify-content: center;

        .section-title {
            font-size: 50px;
            position: relative;
            z-index: 1;
            margin-bottom: 60px;
            letter-spacing: 1.5px;
            // color: hsl(0, 1%, 21%); // era $primary-color
            color: $bg-secondary-color; // era $primary-color
            display: inline-block;
            text-transform: uppercase;
        }
    }


    // .section-title::after {
    //     content: "";
    //     display: block;
    //     background-color: $bg-secondary-color; //era $bg-secondary-color
    //     opacity: 0.7;
    //     width: 100%; // era 55%
    //     height: 100%;
    //     bottom: -10px;
    //     left: 50%;
    //     position: absolute;
    //     z-index: -1;
    //     transform: skewX(35deg) translateX(-50%);

    //     @media screen and (max-width: 500px) {
    //         width: 90%;
    //     }

    //     @media screen and (max-width: 400px) {
    //         width: 75%;
    //     }

    // }

    .categoriesSection {
        // font-family: 'Noto Sans JP', sans-serif;
        padding: 10px 0;
        // border-bottom: 1px solid $primary-color;
        max-width: 900px;
        margin: 0 auto;

        input {
            font-size: 1.5em;
            margin: 20px 0;
        }

        .categories {
            cursor: pointer;
            margin: 10px 20px;
            text-align: center;
            position: relative;
            border-radius: $border-radius-windows;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                text-align: center;
                position: relative; // per .active-category
                z-index: 2; // per .active-category
            }

            h4 {
                // background-color: yellow;
                border-radius: 5px;
                padding: 3px 5px;
                position: absolute;
                font-size: 15px;
                background: $bg-primary-color;
                color: white;
                border-radius: 4px;
                bottom: -15px;
                transform: translateX(-50%);
                left: 50%;
                z-index: 2; // per .active-category
                letter-spacing: 1.5px;
            }
        }

        .categories:hover {
            transform: scale(1.05);
            transition: 0.15s;
        }

        // .active-category::after {
        //     content: "";
        //     display: block;
        //     background-color: lightblue;
        //     z-index: 1;
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     opacity: 0.5;
        //     border-radius: $border-radius-windows
        // }
    }

    .advanced-search {
        @include flex;
        justify-content: center;

        .reset-btn {
            background-color: #1d1d1d;
            color: $secondary-color;

            @media screen and (max-width: 767px) {
                margin-top: 10px;
            }
        }

    }

    .buttons-container {
        @include flex;
        justify-content: center;

        .reset-btn {
            background-color: #1d1d1d;
            color: $secondary-color;
        }
    }



    // .restaurantsSection {
    //     padding: 20px 0;

    //     .restaurants {
    //         width: 250px;
    //         height: 150px;
    //         border-radius: 10px;
    //         margin: 20px 50px;
    //         background-size: cover;
    //         justify-content: center;
    //         align-items: center;

    //         a {
    //             color: $primary-color;

    //             span {
    //                 background-color: rgba(255,255,255, 0.3);
    //                 border-radius: 5px;
    //                 font-size: 1.5rem;
    //                 padding: 5px;
    //             }
    //         }

    //         div {
    //             align-self: flex-end;
    //         }
    //     }
    // }

    .restaurantsSection {
        padding: 20px 0;
        position: relative;

        .restaurants {
            width: 250px;
            height: 150px;
            border-radius: 10px;
            margin: 20px 50px;
            background-size: cover;
            // justify-content: center;
            // align-items: center;
            position: relative;

            a {
                color: $primary-color;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;

                // span {
                //     background-color: rgba(255,255,255, 0.3);
                //     border-radius: 5px;
                //     font-size: 1.5rem;
                //     padding: 5px;
                // }

            }

            .restaurant-name {
                position: absolute;
                // height: 35px;
                // display: flex;
                // align-items: center;
                padding: 2px 10px;
                // width: 150px;
                top: -5px;
                right: -10px;
                color: white;
                background-color: $bg-secondary-color;
                z-index: 5;
                border-radius: 4px;
                font-size: 25px;
            }

            .restaurant-categories {
                // @include flex;
                position: absolute;
                // height: 35px;
                min-width: 50px;
                text-align: center;
                padding: 2px 10px;
                bottom: -5px;
                left: -10px;
                color: white;
                background-color: $bg-primary-color;
                z-index: 5;
                border-radius: 4px;
            }

            div {
                // align-self: flex-end;
            }
        }

        .restaurants:hover {
            box-shadow: 0 5px 5px 4px hsl(0, 2%, 69%);
            transform: scale(1.05);
            transition: 0.25s;
        }

        .restaurants:visited {
            outline: 2px solid hsl(221, 80%, 44%);
        }

        .restaurants:active {
            outline: 2px solid hsl(221, 80%, 44%);
        }

        .search-indicator {
            background-color: $bg-primary-color;
            padding: 6px 10px;
            color: white;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            position: absolute;
            left: 0;
            top: 0;

            // .triangle-pointer {
            //     position: absolute;
            //     right:-10px;
            //     bottom: 0;
            //     background-color: green;

            //     .arrow-up {
            //         width: 0;
            //         height: 0;
            //         border-left: 5px solid transparent;
            //         border-right: 5px solid transparent;

            //         border-bottom: 5px solid black;
            //     }

            //     .arrow-down {
            //     width: 0;
            //     height: 0;
            //     border-left: 20px solid transparent;
            //     border-right: 20px solid transparent;

            //     border-top: 20px solid #f00;
            //     }

            //     .arrow-right {
            //     width: 0;
            //     height: 0;
            //     border-top: 60px solid transparent;
            //     border-bottom: 60px solid transparent;

            //     border-left: 60px solid green;
            //     }

            //     .arrow-left {
            //     width: 0;
            //     height: 0;
            //     border-top: 10px solid transparent;
            //     border-bottom: 10px solid transparent;

            //     border-right:10px solid blue;
            //     }

            // }
        }

        .no-restaurants-found.message {
            font-size:25px;
            border-bottom: 2px solid $bg-secondary-color;
            padding-top: 50px;
            text-align: center;
        }

    }
}






