// qui lavoreremo allo stile della landing page
// in sass
// magari nella vista metteremo un wrapper con id=landingpage
// e da li con le graffe racchiudiamo tutto lo stile dei div figli

.categoriesSection {
    padding: 10px 0;
    border-bottom: 1px solid black;

    input {
        font-size: 1.5em;
        margin: 20px 0;
    }

    .categories {
        cursor: pointer;
        margin: 10px 20px;
        text-align: center;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            text-align: center;
        }

        h4 {
            background-color: yellow;
            border-radius: 5px;
            padding: 5px;
        }
    }
}

.restaurantsSection {
    padding: 20px 0;

    .restaurants {
        width: 250px;
        height: 150px;
        border-radius: 10px;
        margin: 20px 50px;
        background-size: cover;
        justify-content: center;
        align-items: center;

        a {
            color: black;

            span {
                background-color: rgba(255,255,255, 0.3);
                border-radius: 5px;
                font-size: 1.5em;
                padding: 5px;
            }
        }

        div {
            align-self: flex-end;
        }
    }
}
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-30px; 
    min-height:50px;
    max-height:150px;
  }
  /* Animation */

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% {
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
  }


