.container {
    div {
        div {
            .card {
                .card-header {
                    background-color: $bg-footer-color;
                    color: $secondary-color;
                }
                .card-body {
                    form {
                        .login {
                            div{
                                a{
                                    color: $bg-primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
