nav {
    background-color: $bg-primary-color;
    /*     background: $bg-secondary-color;
    background: linear-gradient(0deg, $bg-secondary-color 30%, $bg-primary-color 85%);
 */
    .container {
        a {
            img {
                height: 68.6px;
                width: 89.6px;
            }
        }
        .login {
            a {
                color: $secondary-color;
            }
        }
    }
}
