nav {
    background-color: $bg-primary-color;

    .container {
        a {
            img {
                height: 69.3px;
                width: 90.3px;
                margin-right:15px;
            }
        }
        .login {
            a {
                color: $secondary-color;
            }
        }
    }
}
